@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&display=swap');

body {
    background-color: rgb(233, 233, 233);
}

h6{
    font-family: 'Merienda', cursive !important;
}
p {
    font-family: 'Montserrat', sans-serif !important;
}